<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT category ANY>
<!ATTLIST category id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT menu ANY>
<!ATTLIST menu id ID #REQUIRED>
<!ELEMENT activity ANY>
<!ATTLIST activity id ID #REQUIRED>
<!ELEMENT promotionItem ANY>
<!ATTLIST promotionItem id ID #REQUIRED>
<!ELEMENT single ANY>
<!ATTLIST single id ID #REQUIRED>
<!ELEMENT view ANY>
<!ATTLIST view id ID #REQUIRED>

]>
<root id="-1">
  <home id="1050" key="acfd9135-14dd-4045-b273-314a1c657742" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-05-15T19:45:31" updateDate="2016-05-31T23:11:15" nodeName="Home" urlName="home" path="-1,1050" isDoc="" nodeType="1049" creatorName="admin" writerName="admin" writerID="0" template="1051" nodeTypeAlias="home">
    <seo_description><![CDATA[ครัวพรรวา ร้านอาหารที่อร่อยและบรรยากาศดีที่สุดในเชียงใหม่]]></seo_description>
    <seo_title><![CDATA[ครัวพรรวา เชียงใหม่]]></seo_title>
    <seo_keywords><![CDATA[พรรวา, ครัวพรรวา, ร้านอาหาร, เชียงใหม่, อร่อย, ร้านอาหารเชียงใหม่, ร้านอาหารอร่อย, ร้านอาหารอร่อยในเชียงใหม่, ข้างวัฒโน, วัฒโนทัยพายัพ]]></seo_keywords>
    <title><![CDATA[ครัวพรรวา]]></title>
    <nav_title><![CDATA[หน้าแรก]]></nav_title>
    <text><![CDATA[<p><span><img style="width: 583px; height: 182px;" src="/media/1018/banner.jpg?width=583&amp;height=182" alt="" rel="1115" data-id="1115" /></span></p>
<p><span>ครัวพรรวา ร้านอาหารไทยที่เน้นรสชาติจัดจ้านแบบไทยปรุงด้วยวัตถุดิบชั้นเลิศโดยเฉพาะอาหารไทยพื้นเมืองที่ปรุงสดใหม่ตลอดเวลา ด้วยที่ตั้งของร้าน อาหารที่ตั้งอยู่เชียงใหม่ ที่ซึ่งอุดมสมบูรณ์ด้วยวัตถุดิบสดใหม่หายากหลายชนิด เราจึงคัดสรรวัตถุดิบชั้นเลิศและอาหารชั้นดี สด ใหม่ สะอาดให้คุณได้ลิ้มลองกันทุกวัน เรารับรองว่าลูกค้าทุกท่านจะต้องประทับใจในรสชาติ บรรยากาศ และการบริการของเราอย่างแน่นอน</span></p>]]></text>
    <image><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1001/menu-restaurant-vintage-table.jpg",
  "crops": [
    {
      "width": 2000,
      "height": 800,
      "alias": "banner"
    }
  ]
}]]></image>
    <time><![CDATA[เปิดบริการ 10:00 - 22:00 ทุกวัน]]></time>
    <logo><![CDATA[1055]]></logo>
    <facebook><![CDATA[https://www.facebook.com/panwachiangmai]]></facebook>
    <email><![CDATA[panwakitchen@gmail.com]]></email>
    <address><![CDATA[ร้านอาหารไทยพรรวา เลขที่ 20 (สมาคมนิสิตเก่าจุฬาฯภาคเหนือ) ถนนบุญเรืองฤทธิ์ ต.หายยา อ.เมือง จ.เชียงใหม่ 50000]]></address>
    <phone><![CDATA[053-270622]]></phone>
    <activity id="1072" key="f46b92bd-eccd-40f7-bfcb-ecc1e11f5f68" parentID="1050" level="2" creatorID="0" sortOrder="0" createDate="2016-05-19T22:04:29" updateDate="2016-05-26T21:39:47" nodeName="promotions" urlName="promotions" path="-1,1050,1072" isDoc="" nodeType="1069" creatorName="admin" writerName="admin" writerID="0" template="1076" nodeTypeAlias="activity">
      <seo_title><![CDATA[ครัวพรรวา - โปรโมชัน-กิจกรรม]]></seo_title>
      <title><![CDATA[โปรโมชันและกิจกรรม]]></title>
      <nav_title><![CDATA[โปรโมชัน-กิจกรรม]]></nav_title>
      <promotionItem id="1137" key="76a45d51-7442-427a-9db6-d6996994d48f" parentID="1072" level="3" creatorID="0" sortOrder="0" createDate="2016-05-31T22:18:02" updateDate="2016-05-31T22:27:43" nodeName="like-follow" urlName="like-follow" path="-1,1050,1072,1137" isDoc="" nodeType="1135" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="promotionItem">
        <title><![CDATA[ส่วนลด 10% เมื่อติดตาม หรือเชคอิน]]></title>
        <image><![CDATA[1139]]></image>
        <detail><![CDATA[รับส่วนลด 10% ทันที เมื่อกดไลค์ติดตาม Facebook, Instagram หรือเชคอินที่ครัวพรรวา]]></detail>
      </promotionItem>
    </activity>
    <menu id="1073" key="d3cb672b-2c3b-4387-aabc-7b1c2e800cb2" parentID="1050" level="2" creatorID="0" sortOrder="1" createDate="2016-05-19T22:04:46" updateDate="2016-05-26T21:40:09" nodeName="Menu" urlName="menu" path="-1,1050,1073" isDoc="" nodeType="1068" creatorName="admin" writerName="admin" writerID="0" template="1075" nodeTypeAlias="menu">
      <seo_title><![CDATA[ครัวพรรวา - เมนูอาหาร]]></seo_title>
      <title><![CDATA[เมนูอาหาร]]></title>
      <nav_title><![CDATA[เมนูอาหาร]]></nav_title>
      <category id="1091" key="f08d5c01-012f-42a6-864e-82d39db0fa2c" parentID="1073" level="3" creatorID="0" sortOrder="0" createDate="2016-05-26T21:49:54" updateDate="2016-05-26T22:29:02" nodeName="Recomended" urlName="recomended" path="-1,1050,1073,1091" isDoc="" nodeType="1090" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="category">
        <title><![CDATA[เมนูแนะนำ]]></title>
        <images><![CDATA[1113,1108,1109,1110,1111,1112]]></images>
      </category>
      <category id="1092" key="91747d0c-888a-4491-8806-fbc6a17ec7f5" parentID="1073" level="3" creatorID="0" sortOrder="1" createDate="2016-05-26T21:55:42" updateDate="2016-05-26T22:34:28" nodeName="fry-grill" urlName="fry-grill" path="-1,1050,1073,1092" isDoc="" nodeType="1090" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="category">
        <title><![CDATA[อาหารทอด - ย่าง]]></title>
        <images><![CDATA[1114,1100]]></images>
      </category>
      <category id="1093" key="90b42f2d-35e9-4361-aea4-6ed6d44f26df" parentID="1073" level="3" creatorID="0" sortOrder="2" createDate="2016-05-26T21:57:09" updateDate="2016-05-26T22:34:52" nodeName="seafood" urlName="seafood" path="-1,1050,1073,1093" isDoc="" nodeType="1090" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="category">
        <title><![CDATA[อาหารทะเล]]></title>
        <images><![CDATA[1101]]></images>
      </category>
      <category id="1094" key="019a00ce-7741-4200-ade6-1e47fdd3197a" parentID="1073" level="3" creatorID="0" sortOrder="3" createDate="2016-05-26T21:58:51" updateDate="2016-05-26T22:40:56" nodeName="soup" urlName="soup" path="-1,1050,1073,1094" isDoc="" nodeType="1090" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="category">
        <title><![CDATA[แกง - ต้ม - ต้มยำ]]></title>
        <images><![CDATA[1102]]></images>
      </category>
      <category id="1095" key="b714d741-23d9-459a-9389-2fdc28e98485" parentID="1073" level="3" creatorID="0" sortOrder="4" createDate="2016-05-26T21:59:31" updateDate="2016-05-26T22:41:31" nodeName="stir-fried" urlName="stir-fried" path="-1,1050,1073,1095" isDoc="" nodeType="1090" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="category">
        <title><![CDATA[ผัด]]></title>
        <images><![CDATA[1103]]></images>
      </category>
      <category id="1096" key="c59fc286-905d-4758-9615-1459c8b4cfa0" parentID="1073" level="3" creatorID="0" sortOrder="5" createDate="2016-05-26T22:00:20" updateDate="2016-05-26T22:42:22" nodeName="thai-salad" urlName="thai-salad" path="-1,1050,1073,1096" isDoc="" nodeType="1090" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="category">
        <title><![CDATA[ยำ]]></title>
        <images><![CDATA[1104,1105]]></images>
      </category>
      <category id="1097" key="8d8187ff-d469-485c-9c23-a5d44e80b4ff" parentID="1073" level="3" creatorID="0" sortOrder="6" createDate="2016-05-26T22:01:17" updateDate="2016-05-26T22:42:54" nodeName="local" urlName="local" path="-1,1050,1073,1097" isDoc="" nodeType="1090" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="category">
        <title><![CDATA[อาหารพื้นเมือง]]></title>
        <images><![CDATA[1106]]></images>
      </category>
      <category id="1098" key="958d9561-dceb-4c9f-a6d8-16c8880e5fce" parentID="1073" level="3" creatorID="0" sortOrder="7" createDate="2016-05-26T22:01:39" updateDate="2016-05-26T22:43:12" nodeName="dessert" urlName="dessert" path="-1,1050,1073,1098" isDoc="" nodeType="1090" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="category">
        <title><![CDATA[ของหวาน]]></title>
        <images><![CDATA[1107]]></images>
      </category>
      <category id="1134" key="d13e87f5-63e5-4ecb-b487-3a3102c22854" parentID="1073" level="3" creatorID="0" sortOrder="8" createDate="2016-05-31T21:55:00" updateDate="2016-05-31T21:55:58" nodeName="drink" urlName="drink" path="-1,1050,1073,1134" isDoc="" nodeType="1090" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="category">
        <title><![CDATA[เครื่องดื่ม]]></title>
        <images><![CDATA[1133]]></images>
      </category>
      <single id="1119" key="3cf2e35d-739a-4690-b7a7-5e7579c48a18" parentID="1073" level="3" creatorID="0" sortOrder="9" createDate="2016-05-26T22:53:16" updateDate="2016-05-31T21:55:59" nodeName="Single" urlName="single" path="-1,1050,1073,1119" isDoc="" nodeType="1118" creatorName="admin" writerName="admin" writerID="0" template="1117" nodeTypeAlias="single">
        <title><![CDATA[อาหารจานเดียว 65 บาท]]></title>
        <category id="1120" key="daa0c521-73d0-4ea3-99f8-065dedd52d73" parentID="1119" level="4" creatorID="0" sortOrder="0" createDate="2016-05-26T22:59:56" updateDate="2016-05-26T23:19:44" nodeName="F1" urlName="f1" path="-1,1050,1073,1119,1120" isDoc="" nodeType="1090" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="category">
          <title><![CDATA[ผัดกระเพราปลาหมึกไข่ดาว]]></title>
          <images><![CDATA[1122]]></images>
        </category>
        <category id="1128" key="bb7908fa-c8bd-4ccc-8ca2-bad4cec1cc3a" parentID="1119" level="4" creatorID="0" sortOrder="1" createDate="2016-05-26T23:02:04" updateDate="2016-05-26T23:16:31" nodeName="F2" urlName="f2" path="-1,1050,1073,1119,1128" isDoc="" nodeType="1090" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="category">
          <title><![CDATA[ผัดไทกุ้งสด]]></title>
          <images><![CDATA[1123]]></images>
        </category>
        <category id="1129" key="e5152d74-ccfd-4d91-8f99-037dbc9476e2" parentID="1119" level="4" creatorID="0" sortOrder="2" createDate="2016-05-26T23:02:32" updateDate="2016-05-26T23:16:47" nodeName="F3" urlName="f3" path="-1,1050,1073,1119,1129" isDoc="" nodeType="1090" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="category">
          <title><![CDATA[ข้าวผัดกุ้ง]]></title>
          <images><![CDATA[1124]]></images>
        </category>
        <category id="1130" key="134572aa-e00e-4ac2-add0-88df455acacd" parentID="1119" level="4" creatorID="0" sortOrder="3" createDate="2016-05-26T23:02:53" updateDate="2016-05-26T23:17:34" nodeName="F4" urlName="f4" path="-1,1050,1073,1119,1130" isDoc="" nodeType="1090" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="category">
          <title><![CDATA[หมูกระเทียมไข่ดาว]]></title>
          <images><![CDATA[1125]]></images>
        </category>
        <category id="1131" key="92316a66-3f39-4383-be5b-afbfa53ccee8" parentID="1119" level="4" creatorID="0" sortOrder="4" createDate="2016-05-26T23:03:11" updateDate="2016-05-26T23:20:10" nodeName="F5" urlName="f5" path="-1,1050,1073,1119,1131" isDoc="" nodeType="1090" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="category">
          <title><![CDATA[ผัดกระเพราหมูสับไข่ดาว]]></title>
          <images><![CDATA[1126]]></images>
        </category>
        <category id="1132" key="a01cd71a-253c-4ed5-b9ac-ad2bb370ef5d" parentID="1119" level="4" creatorID="0" sortOrder="5" createDate="2016-05-26T23:03:31" updateDate="2016-05-26T23:03:31" nodeName="F6" urlName="f6" path="-1,1050,1073,1119,1132" isDoc="" nodeType="1090" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="category">
          <title><![CDATA[F6]]></title>
          <images><![CDATA[1127]]></images>
        </category>
      </single>
    </menu>
    <view id="1071" key="0a3916b7-0752-485c-8bfb-9488e35212df" parentID="1050" level="2" creatorID="0" sortOrder="2" createDate="2016-05-19T22:03:50" updateDate="2016-05-26T21:40:29" nodeName="Views" urlName="views" path="-1,1050,1071" isDoc="" nodeType="1070" creatorName="admin" writerName="admin" writerID="0" template="1077" nodeTypeAlias="view">
      <seo_title><![CDATA[ครัวพรรวา - บรรยากาศร้าน]]></seo_title>
      <title><![CDATA[บรรยากาศร้าน]]></title>
      <nav_title><![CDATA[บรรยากาศร้าน]]></nav_title>
    </view>
    <contact id="1066" key="e2ba569a-2666-47cf-8fd8-c36d3b26889c" parentID="1050" level="2" creatorID="0" sortOrder="3" createDate="2016-05-19T22:00:11" updateDate="2016-05-26T21:41:04" nodeName="Contact" urlName="contact" path="-1,1050,1066" isDoc="" nodeType="1064" creatorName="admin" writerName="admin" writerID="0" template="1065" nodeTypeAlias="contact">
      <seo_title><![CDATA[ครัวพรรวา - ติดต่อสอบถาม]]></seo_title>
      <title><![CDATA[ติดต่อสอบถาม]]></title>
      <nav_title><![CDATA[ติดต่อสอบถาม]]></nav_title>
    </contact>
  </home>
</root>