<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT activity ANY>
<!ATTLIST activity id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT menu ANY>
<!ATTLIST menu id ID #REQUIRED>
<!ELEMENT view ANY>
<!ATTLIST view id ID #REQUIRED>

]>
<root id="-1">
  <home id="1050" key="acfd9135-14dd-4045-b273-314a1c657742" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-05-15T19:45:31" updateDate="2016-05-20T00:44:22" nodeName="Home" urlName="home" path="-1,1050" isDoc="" nodeType="1049" creatorName="admin" writerName="admin" writerID="0" template="1051" nodeTypeAlias="home">
    <seo_description><![CDATA[ครัวพรรวา ร้านอาหารที่อร่อยและบรรยากาศดีที่สุดในเชียงใหม่]]></seo_description>
    <seo_title><![CDATA[ครัวพรรวา เชียงใหม่]]></seo_title>
    <seo_keywords><![CDATA[พรรวา, ครัวพรรวา, ร้านอาหาร, เชียงใหม่, อร่อย, ร้านอาหารเชียงใหม่, ร้านอาหารอร่อย, ร้านอาหารอร่อยในเชียงใหม่, ข้างวัฒโน, วัฒโนทัยพายัพ]]></seo_keywords>
    <nav_title><![CDATA[หน้าแรก]]></nav_title>
    <text><![CDATA[<p><span>ครัวพรรวา ร้านอาหารไทยที่เน้นรสชาติจัดจ้านแบบไทยปรุงด้วยวัตถุดิบชั้นเลิศโดยเฉพาะอาหารไทยพื้นเมืองที่ปรุงสดใหม่ตลอดเวลา ด้วยที่ตั้งของร้าน อาหารที่ตั้งอยู่เชียงใหม่ ที่ซึ่งอุดมสมบูรณ์ด้วยวัตถุดิบสดใหม่หายากหลายชนิด เราจึงคัดสรรวัตถุดิบชั้นเลิศและอาหารชั้นดี สด ใหม่ สะอาดให้คุณได้ลิ้มลองกันทุกวัน เรารับรองว่าลูกค้าทุกท่านจะต้องประทับใจในรสชาติ บรรยากาศ และการบริการของเราอย่างแน่นอน</span></p>]]></text>
    <image><![CDATA[{
  "focalPoint": {
    "left": 0.53666666666666663,
    "top": 0.5725
  },
  "src": "/media/1001/menu-restaurant-vintage-table.jpg",
  "crops": [
    {
      "width": 2000,
      "height": 800,
      "alias": "banner"
    }
  ]
}]]></image>
    <time><![CDATA[เปิดบริการ 11:00 - 22:00 ทุกวัน]]></time>
    <title><![CDATA[ครัวพรรวา]]></title>
    <logo><![CDATA[1055]]></logo>
    <email><![CDATA[panwakitchen.cm@gmail.com]]></email>
    <address><![CDATA[ร้านอาหารไทยพรรวา เลขที่ 20 (สมาคมนิสิตเก่าจุฬาฯภาคเหนือ) ถนนบุญเรืองฤทธิ์ ต.หายยา อ.เมือง จ.เชียงใหม่ 50000]]></address>
    <phone><![CDATA[053-270622]]></phone>
    <activity id="1072" key="f46b92bd-eccd-40f7-bfcb-ecc1e11f5f68" parentID="1050" level="2" creatorID="0" sortOrder="0" createDate="2016-05-19T22:04:29" updateDate="2016-05-19T22:43:18" nodeName="promotions" urlName="promotions" path="-1,1050,1072" isDoc="" nodeType="1069" creatorName="admin" writerName="admin" writerID="0" template="1076" nodeTypeAlias="activity">
      <seo_title><![CDATA[ครัวพรรวา - โปรโมชัน-กิจกรรม]]></seo_title>
      <nav_title><![CDATA[โปรโมชัน-กิจกรรม]]></nav_title>
    </activity>
    <menu id="1073" key="d3cb672b-2c3b-4387-aabc-7b1c2e800cb2" parentID="1050" level="2" creatorID="0" sortOrder="1" createDate="2016-05-19T22:04:46" updateDate="2016-05-19T22:43:29" nodeName="Menu" urlName="menu" path="-1,1050,1073" isDoc="" nodeType="1068" creatorName="admin" writerName="admin" writerID="0" template="1075" nodeTypeAlias="menu">
      <seo_title><![CDATA[ครัวพรรวา - เมนูอาหาร]]></seo_title>
      <nav_title><![CDATA[เมนูอาหาร]]></nav_title>
    </menu>
    <view id="1071" key="0a3916b7-0752-485c-8bfb-9488e35212df" parentID="1050" level="2" creatorID="0" sortOrder="2" createDate="2016-05-19T22:03:50" updateDate="2016-05-19T22:43:39" nodeName="Views" urlName="views" path="-1,1050,1071" isDoc="" nodeType="1070" creatorName="admin" writerName="admin" writerID="0" template="1077" nodeTypeAlias="view">
      <seo_title><![CDATA[ครัวพรรวา - บรรยากาศร้าน]]></seo_title>
      <nav_title><![CDATA[บรรยากาศร้าน]]></nav_title>
    </view>
    <contact id="1066" key="e2ba569a-2666-47cf-8fd8-c36d3b26889c" parentID="1050" level="2" creatorID="0" sortOrder="3" createDate="2016-05-19T22:00:11" updateDate="2016-05-19T23:25:50" nodeName="Contact" urlName="contact" path="-1,1050,1066" isDoc="" nodeType="1064" creatorName="admin" writerName="admin" writerID="0" template="1065" nodeTypeAlias="contact">
      <seo_title><![CDATA[ครัวพรรวา - ติดต่อสอบถาม]]></seo_title>
      <nav_title><![CDATA[ติดต่อสอบถาม]]></nav_title>
      <title><![CDATA[ติดต่อสอบถาม]]></title>
    </contact>
  </home>
</root>