<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>

]>
<root id="-1">
  <home id="1050" key="acfd9135-14dd-4045-b273-314a1c657742" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-05-15T19:45:31" updateDate="2016-05-15T19:48:04" nodeName="Home" urlName="home" path="-1,1050" isDoc="" nodeType="1049" creatorName="admin" writerName="admin" writerID="0" template="1051" nodeTypeAlias="home" />
</root>