@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}
<div class="subpage">
    <div class="row">
        <h1><i class="fa fa-volume-control-phone" aria-hidden="true"></i> @Umbraco.Field("title")</h1>
    </div>
    <div class="container suppage-container">

    </div>
</div>