@media screen and (max-width: 1650px) {
   .map-box {
       max-width: 767px;
   }
}
@media screen and (max-width: 1450px) {
    .banner .button-container {
        top: 15%;
    }
    .map-box {
       max-width: 600px;
   }
}
@media screen and (max-width: 992px) {
   .view-item {
        height:370px;
    }
}
@media screen and (max-width: 825px) {
    .nav>li>a {
            padding: 13px 9px;
    }
}
@media screen and (max-width: 767px) {
    .banner img {
		margin-top: 0px;
	}
    .subpage h1 {
        font-size: 28px;
    }
    .subpage h1 {
        padding:20px;
    }
}
@media screen and (max-width: 680px) {
    .map-box {
       max-width: 100%;
       left:0;
       top:70px;
    }
    .view-item {
        height:320px;
    }
    .home h1 {
        font-size: 20px;
    }
}
@media screen and (max-width: 600px) {
    .view-item {
        height:280px;
    }
}
@media screen and (max-width: 540px) {
    footer {
        height: 190px;
    }
    .copyright {
        float:left;
        width:100%;
        border-top:2px solid lawngreen;
        margin-top: 10px;
        padding-top:10px;
    }
    .contact-info p, .address {
        font-size: 15px;
    }
    .view-item {
        height:260px;
    }
    .promotion .promotion-item {
        width: 100%;
        padding: 15px 10px;
    }
    .promotion li img {
        float:none;
        display:block;
        margin:0 auto
    }
}
@media screen and (max-width: 500px) {
    .view-item {
        height:220px;
    }
}